$colors: (
    'common': (
        'white': #ffffff,
        'white-2': #F4F3F7,
        'white-3': #F0EFF4,
        'black-solid': #000,
        'black': #18181B,
        'black-2': #18181B,
        'black-3': #252525,
        'black-4': #5B5B5C,
        'black-5': #171718,
        'black-6': #242428,
        'black-7': #121314,
        'black-8': #2E2E2E,
    ),
    'dark': (
        'white': #ffffff,
        'black-solid': #000,
        'black': #18181B,
        'black-2': #18181B,
        'black-3': #242428,
        'black-4': #18181B,
        'black-5': #242428,
    ),
    'yellow': (
        '1': #FFB342,
    ),
    'pink': (
        '1': #FF765E,
        '2': #FF765E,
        '3': #FF765E,
    ),
    'cream': (
        '1': #B7AB98,
        '2': #CFC292,
    ),
    'green': (
        'dark': #115061,
        '1': #31B757,
        '2': #CDEB76,
    ),
    'khaki': (
        '1': #AB9774,
    ),
    'coffe': (
        '1': #653624,
        '2': #552411,
    ),
    'blue': (
        '1': #7055E8,
        '2': #7055E8,
    ),
    'orange': (
        '1': #FF6736,
    ),
    'heading': (
        'primary': #18181B,
        'secondary': #242428,
    ),
    'headingDark': (
        'primary': #18181B,
        'secondary': #242428,
    ),
    'grey': (
        '1':#F6F7F9,
        '2':#303036,
        '3':#F7F7FA,
        '4':#DDDDE7,
    ),
    'text': (
        'body':#55585B,
        '1':#767A7D,
    ),
    'theme': (
        'primary': #7055E8,
        'secondary': #18181B,
    ),
    'footer': (
        'grey-1': #F4F7F9
    ),
    'border': (
        'primary': #EAEBED,
        'secondary': #F0F2F4,
    )
);

$white : #fff;
$black : #18181B;
$theme-primary : #7055E8;
$border-primary : #EAEBED;
