@use '../../utils' as *;

.porfolio-details__navigation-bar{
  & span{
    & svg{
      & .path-1{
        color: var(--tp-common-white);
      }
      & .path-2{
        color: var(--tp-common-white);
      }
    }
  }
  &.porfolio-details__navigation-bar-2 {
    & span{
        & svg{
          & .path-1{
            color: var(--tp-cream-2);
          }
          & .path-2{
            color: var(--tp-cream-2);
          }
        }
      }
}
}

.sv-inner__slider-active-2 {
	transform: rotate(180deg);
}
.sv-inner__slider-active-2 .slick-slide img {
  transform: rotate(180deg);
}
